a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

canvas {
    border: 1px solid black;
}

canvas {
    display: block;
    margin: auto;
}
html, body {
    font:1.3rem "JLS Data GothicC  NC", monospace;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url('../img/cyberpunk_1.gif');
    background-size: cover;
}
.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
}
.row1 {
    height: 100%;
    padding: 0;
}
.row2 {
    height: 20%;
    padding: 0;
}
.row3 {
    height: 60%;
    padding: 0;
}
.row4 {
    height: 20%;
    padding: 0;
}


.rightMenu {
    display: flex;
    width: 600px; /* set the width to 25% of the viewport width */
    height: 700px ; /* set the height to 25% of the viewport height */
    background-image: url('../img/homepage/men0Left.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.8;
    transition: transform 0.2s ease-out;
    color: white;
    overflow: hidden;
}

.waitingForConnectionText {
    position: absolute;
    left: 51%;
    top: 14%;
    transform: translate(-50%, -50%);
    opacity: 60%;
}


.waitingForConnectionvideo {
    position: absolute;
    top: 58%;
    right: 7%;
    transform: translateY(-50%);
    transform-style: preserve-3d;
}


.sideMeniuGame{

    background-image: url('../img/homepage/soninis.png');
    background-size: cover;
    background-repeat: no-repeat;

}

.gameStartButton{
    height: 200px;
    width: 200px;
    color: white;
    background-color: black;
    border: 1px solid #ff0000;
}
.changeSprite{
    height: 200px;
    width: 200px;
    color: white;
    background-color: black;
    border: 1px solid #ff0000;
}


.menuOperator {
    position: absolute;
    top: 14%;
    right: -29%;
    transform: translateY(-50%);
    transform-style: preserve-3d;
}
.menuSprite{}

.sprite1 {
    background-image: url('../img/menu images/1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 100px;
    position: absolute;
    top: 83%;
    right: 52%;
    transform: translateY(-50%);
    transform-style: preserve-3d;
    scale: 376%;
}
.sprite2 {
    background-image: url('../img/menu images/2.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 100px;
    position: absolute;
    top: 83%;
    right: 52%;
    transform: translateY(-50%);
    transform-style: preserve-3d;
    scale: 376%;
}
.sprite3 {
    background-image: url('../img/menu images/3.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 100px;
    position: absolute;
    top: 83%;
    right: 52%;
    transform: translateY(-50%);
    transform-style: preserve-3d;
    scale: 376%;
}
.sprite4 {
    background-image: url('../img/menu images/4.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 100px;
    position: absolute;
    top: 83%;
    right: 52%;
    transform: translateY(-50%);
    transform-style: preserve-3d;
    scale: 376%;
}

.menuRank{
    position: absolute;
    top: 87%;
    right: 40%;
    transform: translateY(-50%);
    transform-style: preserve-3d;
}

.menuContract {
    position: absolute;
    top: 27%;
    right: -17%;
    transform: translateY(-50%);
    transform-style: preserve-3d;
}
.menuExp {
    position: absolute;
    top: 87%;
    right: -8%;
    transform: translateY(-50%);
    transform-style: preserve-3d;
}







/*.video {
    display: flex;
    position: relative;
    margin-top: 54px;
    margin-left: 61px;
    -moz-transform: rotate(6deg) translate(1px, 10px) skew(14deg, -5deg);
    -webkit-transform: rotate(6deg) translate(1px, 10px) skew(14deg, -5deg);
    -o-transform: rotate(6deg) translate(1px, 10px) skew(14deg, -5deg);
    -ms-transform: rotate(6deg) translate(1px, 10px) skew(14deg, -5deg);
    transform: rotate(6deg) translate(1px, 10px) skew(14deg, -5deg);
}*/


/*.backgroundImg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 95vh;
}*/
/*.base{
    width: 100%;
    height: 100%;
}*/

/*
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #000000;
    color: #acc8e1;
    text-align: center;
}
*/

